@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}

body {
    background-color: orange;
}

fieldset{
    background-color: black;
    color: white;
}

button {
    padding: 15px 20px;
    font-size: 20px;
}

p{
  background-color: white;
}